In [ ]:
from pyspark.sql import SparkSession 
from pyspark.sql.functions import * 
from pyspark.sql.types import *
from pyspark.sql.window import Window

In [59]:
# Pyspark unable to infer the schema so I had to do it myself
custom_schema = StructType([
    StructField("Date", DateType(), True),
    StructField("Time", TimestampType(), True),
    StructField("Booking ID", StringType(), True),
    StructField("Booking Status", StringType(), True),
    StructField("Customer ID", StringType(), True),
    StructField("Vehicle Type", StringType(), True),
    StructField("Pickup Location", StringType(), True),
    StructField("Drop Location", StringType(), True),
    StructField("Avg VTAT", DoubleType(), True),
    StructField("Avg CTAT", DoubleType(), True),
    StructField("Cancelled Rides by Customer", IntegerType(), True),
    StructField("Reason for cancelling by Customer", StringType(), True),
    StructField("Cancelled Rides by Driver", IntegerType(), True),
    StructField("Driver Cancellation Reason", StringType(), True),
    StructField("Incomplete Rides", IntegerType(), True),
    StructField("Incomplete Rides Reason", StringType(), True),
    StructField("Booking Value", DoubleType(), True),
    StructField("Ride Distance", DoubleType(), True),
    StructField("Driver Ratings", DoubleType(), True),
    StructField("Customer Rating", DoubleType(), True),
    StructField("Payment Method", StringType(), True)
])

In [60]:
spark = SparkSession.builder.appName("UberAnalysis").config("spark.sql.adaptive.enabled", "true").getOrCreate()

df = spark.read.csv("static/ncr_ride_bookings.csv", header=True, schema=custom_schema)
df.show(5)
(df.count(), len(df.columns))

+----------+-------------------+----------------+---------------+----------------+-------------+-------------------+-----------------+--------+--------+---------------------------+---------------------------------+-------------------------+--------------------------+----------------+-----------------------+-------------+-------------+--------------+---------------+--------------+
|      Date|               Time|      Booking ID| Booking Status|     Customer ID| Vehicle Type|    Pickup Location|    Drop Location|Avg VTAT|Avg CTAT|Cancelled Rides by Customer|Reason for cancelling by Customer|Cancelled Rides by Driver|Driver Cancellation Reason|Incomplete Rides|Incomplete Rides Reason|Booking Value|Ride Distance|Driver Ratings|Customer Rating|Payment Method|
+----------+-------------------+----------------+---------------+----------------+-------------+-------------------+-----------------+--------+--------+---------------------------+---------------------------------+-------------------------+--------------------------+----------------+-----------------------+-------------+-------------+--------------+---------------+--------------+
|2024-03-23|2025-11-17 12:29:38|"""CNR5884300"""|No Driver Found|"""CID1982111"""|        eBike|        Palam Vihar|          Jhilmil|    NULL|    NULL|                       NULL|                             null|                     NULL|                      null|            NULL|                   null|         NULL|         NULL|          NULL|           NULL|          null|
|2024-11-29|2025-11-17 18:01:39|"""CNR1326809"""|     Incomplete|"""CID4604802"""|     Go Sedan|      Shastri Nagar|Gurgaon Sector 56|     4.9|    14.0|                       NULL|                             null|                     NULL|                      null|               1|      Vehicle Breakdown|        237.0|         5.73|          NULL|           NULL|           UPI|
|2024-08-23|2025-11-17 08:56:10|"""CNR8494506"""|      Completed|"""CID9202816"""|         Auto|            Khandsa|    Malviya Nagar|    13.4|    25.8|                       NULL|                             null|                     NULL|                      null|            NULL|                   null|        627.0|        13.58|           4.9|            4.9|    Debit Card|
|2024-10-21|2025-11-17 17:17:25|"""CNR8906825"""|      Completed|"""CID2610914"""|Premier Sedan|Central Secretariat|         Inderlok|    13.1|    28.5|                       NULL|                             null|                     NULL|                      null|            NULL|                   null|        416.0|        34.02|           4.6|            5.0|           UPI|
|2024-09-16|2025-11-17 22:08:00|"""CNR1950162"""|      Completed|"""CID9933542"""|         Bike|   Ghitorni Village|      Khan Market|     5.3|    19.6|                       NULL|                             null|                     NULL|                      null|            NULL|                   null|        737.0|        48.21|           4.1|            4.3|           UPI|
+----------+-------------------+----------------+---------------+----------------+-------------+-------------------+-----------------+--------+--------+---------------------------+---------------------------------+-------------------------+--------------------------+----------------+-----------------------+-------------+-------------+--------------+---------------+--------------+
only showing top 5 rows

(150000, 21)

In [61]:
booking_analysis = df.groupBy("Booking Status") \
    .agg(count("*").alias("count")) \
    .withColumn("percentage", col("count") / df.count() * 100) \
    .orderBy(desc("count"))
booking_analysis.show()

+--------------------+-----+-----------------+
|      Booking Status|count|       percentage|
+--------------------+-----+-----------------+
|           Completed|93000|             62.0|
| Cancelled by Driver|27000|             18.0|
|     No Driver Found|10500|7.000000000000001|
|Cancelled by Cust...|10500|7.000000000000001|
|          Incomplete| 9000|              6.0|
+--------------------+-----+-----------------+

In [62]:
revenue_by_payment = df.filter(col("Booking Status") == "Completed").groupBy("Payment Method") \
        .agg(sum("Booking Value").alias("Total Revenue")).orderBy(desc("Total Revenue"))

revenue_by_payment.show(truncate=False)

+--------------+-------------+
|Payment Method|Total Revenue|
+--------------+-------------+
|UPI           |2.1274591E7  |
|Cash          |1.1756071E7  |
|Uber Wallet   |5669070.0    |
|Credit Card   |4753767.0    |
|Debit Card    |3807075.0    |
+--------------+-------------+

In [68]:
# Turn all null val to 0
df_zero_filled = df.na.fill(0)
df_zero_filled.show(5)

+----------+-------------------+----------------+---------------+----------------+-------------+-------------------+-----------------+--------+--------+---------------------------+---------------------------------+-------------------------+--------------------------+----------------+-----------------------+-------------+-------------+--------------+---------------+--------------+
|      Date|               Time|      Booking ID| Booking Status|     Customer ID| Vehicle Type|    Pickup Location|    Drop Location|Avg VTAT|Avg CTAT|Cancelled Rides by Customer|Reason for cancelling by Customer|Cancelled Rides by Driver|Driver Cancellation Reason|Incomplete Rides|Incomplete Rides Reason|Booking Value|Ride Distance|Driver Ratings|Customer Rating|Payment Method|
+----------+-------------------+----------------+---------------+----------------+-------------+-------------------+-----------------+--------+--------+---------------------------+---------------------------------+-------------------------+--------------------------+----------------+-----------------------+-------------+-------------+--------------+---------------+--------------+
|2024-03-23|2025-11-17 12:29:38|"""CNR5884300"""|No Driver Found|"""CID1982111"""|        eBike|        Palam Vihar|          Jhilmil|     0.0|     0.0|                          0|                             null|                        0|                      null|               0|                   null|          0.0|          0.0|           0.0|            0.0|          null|
|2024-11-29|2025-11-17 18:01:39|"""CNR1326809"""|     Incomplete|"""CID4604802"""|     Go Sedan|      Shastri Nagar|Gurgaon Sector 56|     4.9|    14.0|                          0|                             null|                        0|                      null|               1|      Vehicle Breakdown|        237.0|         5.73|           0.0|            0.0|           UPI|
|2024-08-23|2025-11-17 08:56:10|"""CNR8494506"""|      Completed|"""CID9202816"""|         Auto|            Khandsa|    Malviya Nagar|    13.4|    25.8|                          0|                             null|                        0|                      null|               0|                   null|        627.0|        13.58|           4.9|            4.9|    Debit Card|
|2024-10-21|2025-11-17 17:17:25|"""CNR8906825"""|      Completed|"""CID2610914"""|Premier Sedan|Central Secretariat|         Inderlok|    13.1|    28.5|                          0|                             null|                        0|                      null|               0|                   null|        416.0|        34.02|           4.6|            5.0|           UPI|
|2024-09-16|2025-11-17 22:08:00|"""CNR1950162"""|      Completed|"""CID9933542"""|         Bike|   Ghitorni Village|      Khan Market|     5.3|    19.6|                          0|                             null|                        0|                      null|               0|                   null|        737.0|        48.21|           4.1|            4.3|           UPI|
+----------+-------------------+----------------+---------------+----------------+-------------+-------------------+-----------------+--------+--------+---------------------------+---------------------------------+-------------------------+--------------------------+----------------+-----------------------+-------------+-------------+--------------+---------------+--------------+
only showing top 5 rows

In [ ]:
vehicle_performance = df.groupBy("Vehicle Type").agg(
        count("*").alias("Total Bookings"),
        avg("Ride Distance").alias("Average Ride Distance"),
        avg("Driver Ratings").alias("Average Driver Rating"),
        avg("Customer Rating").alias("Average Customer Rating")
    ).orderBy(desc("Total Bookings"))

vehicle_performance.show()

+-------------+--------------+---------------------+---------------------+-----------------------+
| Vehicle Type|Total Bookings|Average Ride Distance|Average Driver Rating|Average Customer Rating|
+-------------+--------------+---------------------+---------------------+-----------------------+
|         Auto|         37419|    24.61599567184734|     4.23236881882964|      4.401999568127833|
|      Go Mini|         29806|   24.612089962679214|    4.227694215321595|      4.404296727586389|
|     Go Sedan|         27141|    24.60932470793755|    4.231812185176316|      4.409996402014868|
|         Bike|         22517|   24.649546283036038|    4.230055579307396|     4.4039404303833525|
|Premier Sedan|         18111|     24.5989557450264|    4.234864912904378|      4.403457163170992|
|        eBike|         10557|    24.99041498398552|   4.2256144100137325|      4.403953594871011|
|      Uber XL|          4449|   24.402893267651898|    4.238339920948616|      4.404850880344952|
+-------------+--------------+---------------------+---------------------+-----------------------+

In [75]:
#Peak Hours
time_analysis = df.withColumn("Hour", hour("Time")).groupBy("Hour").agg(
    count("*").alias("Booking Count")
).orderBy(desc("Booking Count"))
time_analysis.show()

+----+-------------+
|Hour|Booking Count|
+----+-------------+
|  18|        12397|
|  19|        11047|
|  17|        11044|
|  16|         9633|
|  20|         9630|
|  10|         9577|
|  11|         8390|
|   9|         8234|
|  15|         8202|
|  21|         8103|
|  14|         7031|
|  12|         7006|
|   8|         6861|
|  13|         5470|
|   7|         5450|
|  22|         5441|
|   6|         4160|
|   5|         2786|
|  23|         2762|
|   3|         1383|
+----+-------------+
only showing top 20 rows

In [81]:
# Prepare data for visualization
def prepare_visualization_data(df):
    """Prepare PySpark DataFrames for visualization"""
    
    return {
        'booking_status': booking_analysis.toPandas(),
        'revenue_payment': revenue_by_payment.toPandas(),
        'vehicle_performance': vehicle_performance.toPandas(),
        'time_analysis': time_analysis.toPandas()
    }

viz_data = prepare_visualization_data(df)
viz_data['booking_status']

          Booking Status  count  percentage
0              Completed  93000        62.0
1    Cancelled by Driver  27000        18.0
2        No Driver Found  10500         7.0
3  Cancelled by Customer  10500         7.0
4             Incomplete   9000         6.0

In [82]:

viz_data['revenue_payment']

  Payment Method  Total Revenue
0            UPI     21274591.0
1           Cash     11756071.0
2    Uber Wallet      5669070.0
3    Credit Card      4753767.0
4     Debit Card      3807075.0

In [83]:

viz_data['vehicle_performance']

,Vehicle Type,Total Bookings,Average Ride Distance,Average Driver Rating,Average Customer Rating
0,Auto,37419,24.615996,4.232369,4.402000
1,Go Mini,29806,24.612090,4.227694,4.404297
2,Go Sedan,27141,24.609325,4.231812,4.409996
3,Bike,22517,24.649546,4.230056,4.403940
4,Premier Sedan,18111,24.598956,4.234865,4.403457
5,eBike,10557,24.990415,4.225614,4.403954
6,Uber XL,4449,24.402893,4.238340,4.404851

In [84]:

viz_data['time_analysis']

    Hour  Booking Count
0     18          12397
1     19          11047
2     17          11044
3     16           9633
4     20           9630
5     10           9577
6     11           8390
7      9           8234
8     15           8202
9     21           8103
10    14           7031
11    12           7006
12     8           6861
13    13           5470
14     7           5450
15    22           5441
16     6           4160
17     5           2786
18    23           2762
19     3           1383
20     0           1373
21     1           1360
22     2           1339
23     4           1321